.month-calendar-container {
  display: flex;
  flex-flow: row nowrap;
}

.month-selected-dates {
  flex: 1;
  margin: 0 0 0 16px;
}

@media only screen and (max-width: 48em) {
  .month-calendar-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .month-calendar-container > .month-calendar {
    flex: 0 1;
    width: 296px;
    margin: auto;
  }

  .month-selected-dates {
    width: 100%;
    margin: 16px 0 0;
  }
}

/* .squaredFour */
.options {
  display: flex;
  margin: 16px 0;
  padding: 0 16px 16px;
  border-bottom: solid 1px hsla(222, 20%, 61%, .16);
}

.options > .label {
  font-size: .85§ rem;
}

.squaredFour {
  width: 20px;
  position: relative;
  margin-right: 8px;
}
.squaredFour label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredFour label:after {
  content: '';
  width: 12px;
  height: 8px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #3774ff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredFour label:hover::after {
  opacity: 0.5;
}
.squaredFour input[type=checkbox] {
  visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredFour */
