.week-appointment-container {
  position: relative;
  user-select: none;
  transition: padding .25s ease;
}

.week-appointment-container.active {
  padding: 24px 0;
}

.week-appointment-container > .cancel-menu {
  position: absolute;
  z-index: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: .85rem;
  width: 100%;
  height: 32px;

  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease, visibility .25s ease;

  color: rgba(248, 52, 75, .5);
}

.week-appointment-container > .cancel-menu:hover {
  color: rgba(248, 52, 75, 1);
}

.week-appointment-container.active > .cancel-menu {
  opacity: 1;
  visibility: visible;
}

.week-appointment-container > .cancel-menu > i {
  margin-right: 8px;
}

.week-appointment-container > .menu {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 32px;
  padding: 0 16px 0 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease, visibility .25s ease;
}

.week-appointment-container > .menu > .left {
  flex: 0 1;
}

.week-appointment-container > .menu > .right {
  display: flex;
}

.week-appointment-container > .menu > .right > a {
  margin-left: 4px;
}

.week-appointment-container > .menu > .left > a,
.week-appointment-container > .menu > .right > .money {
  display: flex;
  align-items: center;
  justify-content: center;


  border: solid 1px rgba(0, 0, 0, .08);
  border-left-color: rgba(0, 0, 0, .04);
  border-top-color: rgba(0, 0, 0, .04);

  border-radius: 5px;
  box-shadow: 0 0 16px -6px rgba(0, 0, 0, .32),
  0 2px 4px -2px rgba(0, 0, 0, .16);
}

.week-appointment-container > .menu > .left > a {
  width: 25px;
  height: 25px;
  font-size: 16px;
}

.week-appointment-container > .menu > .right > .money {
  height: 25px;
  padding: 0 8px;
}

.week-appointment-container > .menu > .right > .money > span.label {
  margin-right: 8px;
  color: rgba(129, 129, 129, 0.54);
}

.week-appointment-container > .menu > .right > .money > span.separator {
  flex: 0 1 1px;
  width: 1px;
  height: calc(100% - 8px);
  background-color: rgba(0, 0, 0, .16);
  margin: 0 8px;
}

.week-appointment-container.active > .menu {
  opacity: 1;
  visibility: visible;
}

.week-appointment {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  /* border-left: solid 2px rgba(171, 188, 193, 1); */
  /* background-color: rgba(171, 188, 193, .1); */
  /* color: white; */

  border-left: solid 2px hsla(220, 90%, 50%, 1);
  background-color: hsla(220, 90%, 50%, .1);
  color: hsla(220, 90%, 50%, 1);

  /* color: hsla(221, 100%, 61%, 1); */

  padding: 8px 4px;

  margin: 8px 8px 8px 0;
  box-shadow: 0px 4px 16px -10px rgba(0, 0, 0, .54);
}

.week-appointment > div.header {
  width: 100%;

  font-size: .7rem;
  line-height: 1rem;
  font-weight: 700;

  color: #527580;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.week-appointment > div.header i {
  margin-right: 4px;
}

.week-appointment > div.header > div.labels > span {
  margin-right: 8px;
}

.week-appointment > div.header > span.danger > i {
  /* color: hsla(0, 90%, 50%, 1); */
  color: #f9334b;
}

.week-appointment > div.header > span.success > i {
  color: #28c96d;
}

.week-appointment > span.label {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */

  font-size: .85rem;
  line-height: .85rem;
}
