.appointment-header {
  display: flex;
  border-bottom: solid 1px hsl(216, 20%, 85%);

  padding: 0 0 16px;
  margin: 0 0 16px;
}

.appointment-header > .avatar-container {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 16px;
}

.appointment-header > .avatar-container > .avatar {
 width: 56px;
 height: 56px;
 border-radius: 50%;

 background-color: #ccc;
 background-position: center;
 background-size: cover;
}

.appointment-header > .detail-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.appointment-header > .detail-container > .name {
  font-size: 1.5rem;
}

.appointment-header > .detail-container > .company > span {
  color: #abbcc2;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
}

.appointment-body > .title {
  margin-bottom: 16px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 16px -8px rgba(0, 0, 0, .32),
              0 1px 8px -4px rgba(0, 0, 0, .54);

  padding: 32px;
  margin-bottom: 16px;
}

.card-header {
  margin: -32px -32px 32px;
  padding: 16px 32px;
  border-bottom: solid 1px hsl(216, 20%, 90%);
  font-size: 1.2rem;
  font-weight: 700;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
}
